.button {
    -fx-background-color: #2f2f33;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 6 14 6 14;
    -fx-font-size: 13px;
    -fx-font-weight: 500;
}

/* Hover */
=.button:hover {
    -fx-background-color: #3a3a40;
}

/* Pressed */
.button:pressed {
    -fx-background-color: #242428;
}