// Root & layout

.root-layout {
    -fx-background-color: #f5f6f8;
}

.sidebar {
    -fx-background-color: #e8def8;
    -fx-background-radius: 16;
    -fx-padding: 16;
}

.topbar {
    -fx-background-color: #ffffff;
}

.bottombar {
    -fx-background-color: #ffffff;
    -fx-border-width: 1 0 0 0;
}

//panels and content

.content-area {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 16;
}

.content-row {
-fx-background-color: #e8def8;
-fx-background-radius: 16;
}

.panel-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
}


.panel-scroll > .viewport {
    -fx-background-color: transparent;
}

.panel-scroll:focused {
    -fx-border-color: transparent;
}

.subproperties-panel {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
}

.entries-panel {

}

//text and labels

.sidebar-title {
    -fx-font-size: 30px;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2933;
    -fx-background-radius: 8;
    -fx-padding: 4 20;
}

.subproperties-title {
-fx-font-size: 30px;
-fx-font-weight: bold;
    -fx-text-fill: #1f2933;
    -fx-padding: 0 20;}

.entry-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2933;
}

//buttons

.primary-btn {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-max-width: Infinity;
    -fx-padding: 16 24;
}

.primary-btn:hover {
    -fx-background-color: #1d4ed8;
}

.secondary-btn {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #111827;
    -fx-background-radius: 12;
    -fx-max-width: Infinity;
    -fx-padding: 16 24;
}

.secondary-btn:hover {
    -fx-background-color: #d1d5db;
    }

.sidebar-panel-btn {
-fx-background-color: transparent;
-fx-max-width: Infinity;
-fx-padding: 12 20;
}

.sidebar-panel-btn:hover {
    -fx-background-color: #D4C4F0;
    -fx-background-radius: 12;
}
//gridpane styling

.data-grid {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

// scrollpane

.panel-scroll {
    -fx-background: transparent;
}

.panel-scroll .viewport {
    -fx-background-color: transparent;
}
