// Root & layout

.root-layout {
    -fx-background-color: #f5f6f8;
}

.sidebar {
    -fx-background-color: #e8def8;
    -fx-background-radius: 12;
}

.topbar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.bottombar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1 0 0 0;
}

//panels and content

.content-area {
    -fx-background-color: transparent;
}

.content-row {
}

.panel-scroll {
    -fx-background-color: #e8def8;
    -fx-spacing: 16;
}

.panel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
}

//text and labels

.panel-title {
    -fx-font-size: 30px;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2933;
    -fx-background-radius: 8;
    -fx-padding: 0 20;
}

//buttons

.primary-btn {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-max-width: Infinity;
    -fx-padding: 12 20;
}

.primary-btn:hover {
    -fx-background-color: #1d4ed8;
}

.secondary-btn {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #111827;
    -fx-background-radius: 12;
    -fx-max-width: Infinity;
    -fx-padding: 12 20;
}

.secondary-btn:hover {
    -fx-background-color: #d1d5db;
    }

.sidebar-panel-btn {
-fx-background-color: transparent;
-fx-max-width: Infinity;
-fx-padding: 12 20;
}

.sidebar-panel-btn:hover {
    -fx-background-color: #D4C4F0;
    -fx-background-radius: 12;
}
//gridpane styling

.data-grid {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

// scrollpane

.panel-scroll {
    -fx-background: transparent;
}

.panel-scroll .viewport {
    -fx-background-color: transparent;
}
