target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Database files

/database/BatchLog_test.db-journal
/report.pdf
/retrieval-report.pdf
/comparison-report.pdf
/backups/
/BatchLog/app/.jpackage.xml
/BatchLog/app/classes/com/log/ui/styles/AddCategoriesStyles.css
/BatchLog/app/classes/com/log/ui/styles/addCategoryBtn.css
/BatchLog/app/classes/com/log/ui/components/addCategoryBtn.fxml
/BatchLog/app/classes/com/log/ui/views/AddCategorySettings.fxml
/BatchLog/runtime/legal/java.base/aes.md
/BatchLog/app/classes/com/log/util/AlertUtil.class
/BatchLog/runtime/bin/api-ms-win-core-console-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-console-l1-2-0.dll
/BatchLog/runtime/bin/api-ms-win-core-datetime-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-debug-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-fibers-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-file-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-file-l1-2-0.dll
/BatchLog/runtime/bin/api-ms-win-core-file-l2-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-handle-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-heap-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-interlocked-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-localization-l1-2-0.dll
/BatchLog/runtime/bin/api-ms-win-core-memory-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-processthreads-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-processthreads-l1-1-1.dll
/BatchLog/runtime/bin/api-ms-win-core-profile-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-string-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-synch-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-synch-l1-2-0.dll
/BatchLog/runtime/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-timezone-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-core-util-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-conio-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-convert-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-environment-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-heap-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-locale-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-math-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-private-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-process-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-runtime-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-stdio-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-string-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-time-l1-1-0.dll
/BatchLog/runtime/bin/api-ms-win-crt-utility-l1-1-0.dll
/BatchLog/app/classes/com/log/core/AppState.class
/BatchLog/runtime/legal/java.base/asm.md
/BatchLog/runtime/bin/attach.dll
/BatchLog/runtime/bin/awt.dll
/BatchLog/app/classes/com/log/ui/views/BackupAndRestorePage.fxml
/BatchLog/app/classes/com/log/ui/settings/BackupAndRestorePageController.class
/BatchLog/app/classes/com/log/service/BackupService.class
/BatchLog/app/classes/com/log/ui/styles/baseCategory.css
/BatchLog/app/classes/com/log/ui/views/BaseProperties.fxml
/BatchLog/app/classes/com/log/ui/BasePropertiesController.class
/BatchLog/app/classes/com/log/core/BasePropertiesState.class
/BatchLog/app/classes/com/log/model/Batch.class
/BatchLog/app/classes/com/log/ui/BatchComparisonController.class
/BatchLog/app/classes/com/log/ui/views/BatchComparisonPage.fxml
/BatchLog/app/classes/com/log/dao/BatchDAO.class
/BatchLog/app/classes/com/log/ui/views/BatchDisplayPage.fxml
/BatchLog/app/BatchLog.cfg
/BatchLog/BatchLog.exe
/BatchLog/app/BatchLog.jar
/BatchLog/app/classes/com/log/model/BatchRow.class
/BatchLog/app/classes/com/log/service/BatchService.class
/BatchLog/app/classes/com/log/model/BatchTest.class
/BatchLog/app/classes/com/log/dao/BatchTestDAO.class
/BatchLog/app/classes/com/log/service/BatchTestService.class
/BatchLog/runtime/legal/java.xml/bcel.md
/BatchLog/runtime/lib/security/blocked.certs
/BatchLog/runtime/legal/java.base/c-libutl.md
/BatchLog/runtime/lib/security/cacerts
/BatchLog/app/classes/com/log/ui/styles/categoriesPage.css
/BatchLog/app/classes/com/log/ui/views/CategoriesPage.fxml
/BatchLog/app/classes/com/log/ui/CategoriesPageController.class
/BatchLog/app/classes/com/log/model/Category.class
/BatchLog/app/classes/com/log/model/Category_Group.class
/BatchLog/app/classes/com/log/dao/CategoryDAO.class
/BatchLog/app/classes/com/log/service/CategoryService.class
/BatchLog/app/classes/com/log/ui/settings/CategorySettingsController.class
/BatchLog/app/classes/com/log/ui/views/Catrenamesettingspage.fxml
/BatchLog/app/classes/com/log/ui/Catrenamesettingspagecontroller.class
/BatchLog/runtime/lib/classlist
/BatchLog/runtime/legal/java.base/cldr.md
/BatchLog/runtime/legal/jdk.localedata/cldr.md
/BatchLog/runtime/legal/java.desktop/colorimaging.md
/BatchLog/app/classes/com/log/dto/ComparisonReportData.class
/BatchLog/app/classes/com/log/service/export/ComparisonReportService.class
/BatchLog/runtime/legal/java.base/COPYRIGHT
/BatchLog/runtime/legal/java.compiler/COPYRIGHT
/BatchLog/runtime/legal/java.datatransfer/COPYRIGHT
/BatchLog/runtime/legal/java.desktop/COPYRIGHT
/BatchLog/runtime/legal/java.instrument/COPYRIGHT
/BatchLog/runtime/legal/java.logging/COPYRIGHT
/BatchLog/runtime/legal/java.management/COPYRIGHT
/BatchLog/runtime/legal/java.management.rmi/COPYRIGHT
/BatchLog/runtime/legal/java.naming/COPYRIGHT
/BatchLog/runtime/legal/java.net.http/COPYRIGHT
/BatchLog/runtime/legal/java.prefs/COPYRIGHT
/BatchLog/runtime/legal/java.rmi/COPYRIGHT
/BatchLog/runtime/legal/java.scripting/COPYRIGHT
/BatchLog/runtime/legal/java.security.jgss/COPYRIGHT
/BatchLog/runtime/legal/java.security.sasl/COPYRIGHT
/BatchLog/runtime/legal/java.smartcardio/COPYRIGHT
/BatchLog/runtime/legal/java.sql/COPYRIGHT
/BatchLog/runtime/legal/java.sql.rowset/COPYRIGHT
/BatchLog/runtime/legal/java.transaction.xa/COPYRIGHT
/BatchLog/runtime/legal/java.xml/COPYRIGHT
/BatchLog/runtime/legal/java.xml.crypto/COPYRIGHT
/BatchLog/runtime/legal/jdk.accessibility/COPYRIGHT
/BatchLog/runtime/legal/jdk.attach/COPYRIGHT
/BatchLog/runtime/legal/jdk.charsets/COPYRIGHT
/BatchLog/runtime/legal/jdk.compiler/COPYRIGHT
/BatchLog/runtime/legal/jdk.crypto.cryptoki/COPYRIGHT
/BatchLog/runtime/legal/jdk.crypto.mscapi/COPYRIGHT
/BatchLog/runtime/legal/jdk.dynalink/COPYRIGHT
/BatchLog/runtime/legal/jdk.editpad/COPYRIGHT
/BatchLog/runtime/legal/jdk.httpserver/COPYRIGHT
/BatchLog/runtime/legal/jdk.incubator.vector/COPYRIGHT
/BatchLog/runtime/legal/jdk.internal.ed/COPYRIGHT
/BatchLog/runtime/legal/jdk.internal.jvmstat/COPYRIGHT
/BatchLog/runtime/legal/jdk.internal.le/COPYRIGHT
/BatchLog/runtime/legal/jdk.internal.opt/COPYRIGHT
/BatchLog/runtime/legal/jdk.jartool/COPYRIGHT
/BatchLog/runtime/legal/jdk.javadoc/COPYRIGHT
/BatchLog/runtime/legal/jdk.jconsole/COPYRIGHT
/BatchLog/runtime/legal/jdk.jdeps/COPYRIGHT
/BatchLog/runtime/legal/jdk.jdi/COPYRIGHT
/BatchLog/runtime/legal/jdk.jdwp.agent/COPYRIGHT
/BatchLog/runtime/legal/jdk.jfr/COPYRIGHT
/BatchLog/runtime/legal/jdk.jlink/COPYRIGHT
/BatchLog/runtime/legal/jdk.jpackage/COPYRIGHT
/BatchLog/runtime/legal/jdk.jshell/COPYRIGHT
/BatchLog/runtime/legal/jdk.jsobject/COPYRIGHT
/BatchLog/runtime/legal/jdk.jstatd/COPYRIGHT
/BatchLog/runtime/legal/jdk.localedata/COPYRIGHT
/BatchLog/runtime/legal/jdk.management/COPYRIGHT
/BatchLog/runtime/legal/jdk.management.agent/COPYRIGHT
/BatchLog/runtime/legal/jdk.management.jfr/COPYRIGHT
/BatchLog/runtime/legal/jdk.naming.dns/COPYRIGHT
/BatchLog/runtime/legal/jdk.naming.rmi/COPYRIGHT
/BatchLog/runtime/legal/jdk.net/COPYRIGHT
/BatchLog/runtime/legal/jdk.nio.mapmode/COPYRIGHT
/BatchLog/runtime/legal/jdk.random/COPYRIGHT
/BatchLog/runtime/legal/jdk.sctp/COPYRIGHT
/BatchLog/runtime/legal/jdk.security.auth/COPYRIGHT
/BatchLog/runtime/legal/jdk.security.jgss/COPYRIGHT
/BatchLog/runtime/legal/jdk.unsupported/COPYRIGHT
/BatchLog/runtime/legal/jdk.unsupported.desktop/COPYRIGHT
/BatchLog/runtime/legal/jdk.xml.dom/COPYRIGHT
/BatchLog/runtime/legal/jdk.zipfs/COPYRIGHT
/BatchLog/app/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/BatchLog/app/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/BatchLog/runtime/lib/ct.sym
/BatchLog/app/classes/com/log/util/DateUtils.class
/BatchLog/app/classes/com/log/database/DBUtil.class
/BatchLog/runtime/lib/jfr/default.jfc
/BatchLog/runtime/lib/security/default.policy
/BatchLog/runtime/conf/security/policy/limited/default_local.policy
/BatchLog/runtime/conf/security/policy/unlimited/default_local.policy
/BatchLog/runtime/conf/security/policy/limited/default_US_export.policy
/BatchLog/runtime/conf/security/policy/unlimited/default_US_export.policy
/BatchLog/app/classes/com/log/core/DefaultMapState.class
/BatchLog/app/classes/com/log/dao/DefaultPropertiesDAO.class
/BatchLog/app/classes/com/log/model/DefaultProperty.class
/BatchLog/app/classes/com/log/service/DefaultPropertyService.class
/BatchLog/app/classes/com/log/ui/views/DefaultSettings.fxml
/BatchLog/app/classes/com/log/ui/settings/DefaultsSettingsController.class
/BatchLog/app/classes/com/log/util/DialogUtils.class
/BatchLog/app/classes/com/log/model/Direction.class
/BatchLog/app/classes/com/log/dao/DirectionDAO.class
/BatchLog/app/classes/com/log/ui/components/directionDropdown.fxml
/BatchLog/app/classes/com/log/ui/DirectionDropdownController.class
/BatchLog/app/classes/com/log/service/DirectionService.class
/BatchLog/app/classes/com/log/ui/views/DirectionSettings.fxml
/BatchLog/app/classes/com/log/ui/settings/DirectionSettingsController.class
/BatchLog/app/classes/com/log/dao/DirectionValuesDAO.class
/BatchLog/runtime/legal/java.xml/dom.md
/BatchLog/app/classes/com/log/ui/components/dropDown.fxml
/BatchLog/runtime/bin/dt_shmem.dll
/BatchLog/runtime/bin/dt_socket.dll
/BatchLog/runtime/legal/jdk.dynalink/dynalink.md
/BatchLog/app/classes/com/log/ui/views/EditProjectPopup.fxml
/BatchLog/app/classes/com/log/ui/EditProjectPopupController.class
/BatchLog/app/classes/com/log/service/export/ExcelExportService.class
/BatchLog/runtime/conf/security/policy/limited/exempt_local.policy
/BatchLog/runtime/bin/extnet.dll
/BatchLog/app/classes/com/log/ui/views/FilterPopup.fxml
/BatchLog/app/classes/com/log/ui/FilterPopupController$FilterResult.class
/BatchLog/app/classes/com/log/ui/FilterPopupController.class
/BatchLog/runtime/lib/fontconfig.bfc
/BatchLog/runtime/lib/fontconfig.properties.src
/BatchLog/runtime/bin/fontmanager.dll
/BatchLog/runtime/bin/freetype.dll
/BatchLog/runtime/legal/java.desktop/freetype.md
/BatchLog/runtime/legal/java.desktop/giflib.md
/BatchLog/runtime/legal/java.desktop/harfbuzz.md
/BatchLog/app/classes/com/log/ui/styles/homepage.css
/BatchLog/app/classes/com/log/ui/views/HomePage.fxml
/BatchLog/app/classes/com/log/ui/HomePageController.class
/BatchLog/runtime/legal/java.base/icu.md
/BatchLog/app/classes/com/log/ui/styles/infoBar.css
/BatchLog/app/classes/com/log/ui/components/infoBar.fxml
/BatchLog/app/classes/com/log/ui/InfoBarController.class
/BatchLog/app/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/BatchLog/app/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/BatchLog/app/classes/com/log/ui/InputRow.class
/BatchLog/runtime/bin/instrument.dll
/BatchLog/runtime/bin/j2gss.dll
/BatchLog/runtime/bin/j2pcsc.dll
/BatchLog/runtime/bin/j2pkcs11.dll
/BatchLog/runtime/bin/jaas.dll
/BatchLog/runtime/bin/java.dll
/BatchLog/runtime/conf/security/java.policy
/BatchLog/runtime/conf/security/java.security
/BatchLog/runtime/bin/javaaccessbridge.dll
/BatchLog/runtime/bin/javajpeg.dll
/BatchLog/runtime/bin/jawt.dll
/BatchLog/runtime/lib/jawt.lib
/BatchLog/runtime/conf/jaxp.properties
/BatchLog/runtime/legal/java.xml/jcup.md
/BatchLog/runtime/bin/jdwp.dll
/BatchLog/runtime/bin/jimage.dll
/BatchLog/runtime/bin/jli.dll
/BatchLog/runtime/legal/jdk.internal.le/jline.md
/BatchLog/runtime/conf/management/jmxremote.access
/BatchLog/runtime/conf/management/jmxremote.password.template
/BatchLog/runtime/legal/jdk.internal.opt/jopt-simple.md
/BatchLog/runtime/bin/jpackage.dll
/BatchLog/runtime/legal/java.desktop/jpeg.md
/BatchLog/runtime/legal/jdk.javadoc/jquery.md
/BatchLog/runtime/legal/jdk.javadoc/jqueryUI.md
/BatchLog/runtime/lib/jrt-fs.jar
/BatchLog/runtime/bin/jsound.dll
/BatchLog/runtime/bin/jsvml.dll
/BatchLog/runtime/lib/jvm.cfg
/BatchLog/runtime/bin/server/jvm.dll
/BatchLog/runtime/lib/jvm.lib
/BatchLog/runtime/bin/lcms.dll
/BatchLog/runtime/legal/java.desktop/lcms.md
/BatchLog/runtime/bin/le.dll
/BatchLog/runtime/legal/java.desktop/libpng.md
/BatchLog/runtime/legal/java.base/LICENSE
/BatchLog/runtime/legal/java.compiler/LICENSE
/BatchLog/runtime/legal/java.datatransfer/LICENSE
/BatchLog/runtime/legal/java.desktop/LICENSE
/BatchLog/runtime/legal/java.instrument/LICENSE
/BatchLog/runtime/legal/java.logging/LICENSE
/BatchLog/runtime/legal/java.management/LICENSE
/BatchLog/runtime/legal/java.management.rmi/LICENSE
/BatchLog/runtime/legal/java.naming/LICENSE
/BatchLog/runtime/legal/java.net.http/LICENSE
/BatchLog/runtime/legal/java.prefs/LICENSE
/BatchLog/runtime/legal/java.rmi/LICENSE
/BatchLog/runtime/legal/java.scripting/LICENSE
/BatchLog/runtime/legal/java.security.jgss/LICENSE
/BatchLog/runtime/legal/java.security.sasl/LICENSE
/BatchLog/runtime/legal/java.smartcardio/LICENSE
/BatchLog/runtime/legal/java.sql/LICENSE
/BatchLog/runtime/legal/java.sql.rowset/LICENSE
/BatchLog/runtime/legal/java.transaction.xa/LICENSE
/BatchLog/runtime/legal/java.xml/LICENSE
/BatchLog/runtime/legal/java.xml.crypto/LICENSE
/BatchLog/runtime/legal/jdk.accessibility/LICENSE
/BatchLog/runtime/legal/jdk.attach/LICENSE
/BatchLog/runtime/legal/jdk.charsets/LICENSE
/BatchLog/runtime/legal/jdk.compiler/LICENSE
/BatchLog/runtime/legal/jdk.crypto.cryptoki/LICENSE
/BatchLog/runtime/legal/jdk.crypto.mscapi/LICENSE
/BatchLog/runtime/legal/jdk.dynalink/LICENSE
/BatchLog/runtime/legal/jdk.editpad/LICENSE
/BatchLog/runtime/legal/jdk.httpserver/LICENSE
/BatchLog/runtime/legal/jdk.incubator.vector/LICENSE
/BatchLog/runtime/legal/jdk.internal.ed/LICENSE
/BatchLog/runtime/legal/jdk.internal.jvmstat/LICENSE
/BatchLog/runtime/legal/jdk.internal.le/LICENSE
/BatchLog/runtime/legal/jdk.internal.opt/LICENSE
/BatchLog/runtime/legal/jdk.jartool/LICENSE
/BatchLog/runtime/legal/jdk.javadoc/LICENSE
/BatchLog/runtime/legal/jdk.jconsole/LICENSE
/BatchLog/runtime/legal/jdk.jdeps/LICENSE
/BatchLog/runtime/legal/jdk.jdi/LICENSE
/BatchLog/runtime/legal/jdk.jdwp.agent/LICENSE
/BatchLog/runtime/legal/jdk.jfr/LICENSE
/BatchLog/runtime/legal/jdk.jlink/LICENSE
/BatchLog/runtime/legal/jdk.jpackage/LICENSE
/BatchLog/runtime/legal/jdk.jshell/LICENSE
/BatchLog/runtime/legal/jdk.jsobject/LICENSE
/BatchLog/runtime/legal/jdk.jstatd/LICENSE
/BatchLog/runtime/legal/jdk.localedata/LICENSE
/BatchLog/runtime/legal/jdk.management/LICENSE
/BatchLog/runtime/legal/jdk.management.agent/LICENSE
/BatchLog/runtime/legal/jdk.management.jfr/LICENSE
/BatchLog/runtime/legal/jdk.naming.dns/LICENSE
/BatchLog/runtime/legal/jdk.naming.rmi/LICENSE
/BatchLog/runtime/legal/jdk.net/LICENSE
/BatchLog/runtime/legal/jdk.nio.mapmode/LICENSE
/BatchLog/runtime/legal/jdk.random/LICENSE
/BatchLog/runtime/legal/jdk.sctp/LICENSE
/BatchLog/runtime/legal/jdk.security.auth/LICENSE
/BatchLog/runtime/legal/jdk.security.jgss/LICENSE
/BatchLog/runtime/legal/jdk.unsupported/LICENSE
/BatchLog/runtime/legal/jdk.unsupported.desktop/LICENSE
/BatchLog/runtime/legal/jdk.xml.dom/LICENSE
/BatchLog/runtime/legal/jdk.zipfs/LICENSE
/BatchLog/runtime/conf/logging.properties
/BatchLog/app/classes/com/log/main/Main.class
/BatchLog/app/classes/com/log/ui/styles/mainpage.css
/BatchLog/app/classes/com/log/ui/views/MainView.fxml
/BatchLog/app/classes/com/log/ui/MainViewController.class
/BatchLog/runtime/bin/management.dll
/BatchLog/runtime/conf/management/management.properties
/BatchLog/runtime/bin/management_agent.dll
/BatchLog/runtime/bin/management_ext.dll
/BatchLog/app/classes/com/log/ui/components/menubar.fxml
/BatchLog/app/classes/com/log/ui/MenubarController.class
/BatchLog/runtime/legal/java.desktop/mesa3d.md
/BatchLog/app/classes/com/log/ui/components/metrics.fxml
/BatchLog/app/classes/com/log/ui/MetricsController.class
/BatchLog/runtime/bin/mlib_image.dll
/BatchLog/runtime/lib/modules
/BatchLog/runtime/bin/msvcp140.dll
/BatchLog/runtime/bin/net.dll
/BatchLog/runtime/conf/net.properties
/BatchLog/app/classes/com/log/ui/views/NewBatch.fxml
/BatchLog/app/classes/com/log/ui/NewBatchController.class
/BatchLog/app/classes/com/log/ui/views/NewProjectPopup.fxml
/BatchLog/app/classes/com/log/ui/NewProjectPopupController.class
/BatchLog/runtime/bin/nio.dll
/BatchLog/app/classes/com/log/util/pdf/PdfConstants.class
/BatchLog/app/classes/com/log/util/pdf/PdfLayoutUtils.class
/BatchLog/app/classes/com/log/util/pdf/PdfPageContext.class
/BatchLog/app/classes/com/log/util/pdf/PdfTableConstants.class
/BatchLog/app/classes/com/log/util/pdf/PdfUtils.class
/BatchLog/runtime/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
/BatchLog/runtime/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
/BatchLog/app/maven-archiver/pom.properties
/BatchLog/runtime/bin/prefs.dll
/BatchLog/app/classes/com/log/model/Product.class
/BatchLog/app/classes/com/log/dao/ProductDAO.class
/BatchLog/app/classes/com/log/service/ProductService.class
/BatchLog/runtime/lib/jfr/profile.jfc
/BatchLog/app/classes/com/log/model/Project.class
/BatchLog/app/classes/com/log/service/ProjectContentService.class
/BatchLog/app/classes/com/log/dao/ProjectDAO.class
/BatchLog/app/classes/com/log/service/export/ProjectExportService.class
/BatchLog/app/classes/com/log/ui/views/ProjectPage.fxml
/BatchLog/app/classes/com/log/ui/ProjectPageController.class
/BatchLog/app/classes/com/log/service/ProjectService.class
/BatchLog/app/classes/com/log/ui/views/PropertiesPopup.fxml
/BatchLog/app/classes/com/log/model/Property.class
/BatchLog/app/classes/com/log/dao/PropertyDAO.class
/BatchLog/app/classes/com/log/service/export/PropertyReportService.class
/BatchLog/app/classes/com/log/model/PropertyRow.class
/BatchLog/app/classes/com/log/service/PropertyService.class
/BatchLog/app/classes/com/log/model/PropertyState.class
/BatchLog/app/classes/com/log/service/PropertyStateManager.class
/BatchLog/app/classes/com/log/service/PropertySubmissionService.class
/BatchLog/app/classes/com/log/dao/PropertyUnitsDAO.class
/BatchLog/app/classes/com/log/service/PropertyUnitsService.class
/BatchLog/app/classes/com/log/model/PropertyValue.class
/BatchLog/app/classes/com/log/dao/PropertyValuesDAO.class
/BatchLog/app/classes/com/log/service/PropertyValuesService.class
/BatchLog/app/classes/com/log/model/PropertyView.class
/BatchLog/runtime/lib/psfont.properties.ja
/BatchLog/runtime/lib/psfontj2d.properties
/BatchLog/runtime/legal/java.base/public_suffix.md
/BatchLog/runtime/lib/security/public_suffix_list.dat
/BatchLog/app/classes/com/log/model/Reading.class
/BatchLog/runtime/conf/security/policy/README.txt
/BatchLog/runtime/release
/BatchLog/app/classes/com/log/dto/ReportData.class
/BatchLog/app/classes/com/log/service/export/ReportGenerator.class
/BatchLog/app/classes/com/log/ui/views/RetrievalPage.fxml
/BatchLog/app/classes/com/log/ui/RetrievalPageController.class
/BatchLog/app/classes/com/log/ui/views/RetrievalResults.fxml
/BatchLog/app/classes/com/log/ui/RetrievalResultsController$1.class
/BatchLog/app/classes/com/log/ui/RetrievalResultsController.class
/BatchLog/app/classes/com/log/ui/styles/RetrievalResultsPage.css
/BatchLog/app/classes/com/log/dto/RetrievalTableReportData.class
/BatchLog/app/classes/com/log/service/export/RetrievalTableReportService.class
/BatchLog/runtime/bin/rmi.dll
/BatchLog/runtime/legal/java.xml.crypto/santuario.md
/BatchLog/app/classes/com/log/ui/views/saveFile.fxml
/BatchLog/app/classes/com/log/ui/components/searchBar.fxml
/BatchLog/app/classes/com/log/ui/SearchBarController.class
/BatchLog/app/classes/com/log/util/SearchUtil.class
/BatchLog/app/classes/com/log/core/SelectedState.class
/BatchLog/app/classes/com/log/ui/styles/settingsPage.css
/BatchLog/app/classes/com/log/ui/views/settingsPage.fxml
/BatchLog/app/classes/com/log/ui/settings/SettingsPageController.class
/BatchLog/runtime/legal/java.base/siphash.md
/BatchLog/runtime/conf/sound.properties
/BatchLog/runtime/bin/splashscreen.dll
/BatchLog/app/sqlitePractice-1.0-SNAPSHOT.jar
/BatchLog/runtime/bin/sspi_bridge.dll
/BatchLog/app/classes/com/log/core/StateManager.class
/BatchLog/app/classes/com/log/service/StatisticsService.class
/BatchLog/app/classes/com/log/util/StringUtils.class
/BatchLog/runtime/bin/sunmscapi.dll
/BatchLog/runtime/bin/syslookup.dll
/BatchLog/app/classes/com/log/model/Temperature.class
/BatchLog/app/classes/com/log/dao/TemperatureDAO.class
/BatchLog/app/classes/com/log/service/TemperatureService.class
/BatchLog/app/classes/com/log/dao/TemperatureUnitDAO.class
/BatchLog/app/classes/com/log/service/TemperatureUnitService.class
/BatchLog/app/classes/com/log/main/Test.class
/BatchLog/runtime/legal/jdk.localedata/thaidict.md
/BatchLog/runtime/lib/tzdb.dat
/BatchLog/runtime/lib/tzmappings
/BatchLog/runtime/bin/ucrtbase.dll
/BatchLog/runtime/legal/java.base/unicode.md
/BatchLog/app/classes/com/log/model/Unit.class
/BatchLog/app/classes/com/log/dao/UnitsDAO.class
/BatchLog/app/classes/com/log/ui/components/unitsDropdown.fxml
/BatchLog/app/classes/com/log/ui/UnitsDropdownController.class
/BatchLog/app/classes/com/log/ui/views/UnitSettings.fxml
/BatchLog/app/classes/com/log/service/UnitsService.class
/BatchLog/app/classes/com/log/ui/settings/UnitsSettingsController.class
/BatchLog/app/classes/com/log/main/UserDAO.class
/BatchLog/runtime/bin/vcruntime140.dll
/BatchLog/runtime/bin/vcruntime140_1.dll
/BatchLog/runtime/bin/verify.dll
/BatchLog/runtime/bin/w2k_lsa_auth.dll
/BatchLog/runtime/legal/java.base/wepoll.md
/BatchLog/runtime/bin/windowsaccessbridge-64.dll
/BatchLog/runtime/legal/java.xml/xalan.md
/BatchLog/runtime/legal/java.xml/xerces.md
/BatchLog/runtime/bin/zip.dll
/BatchLog/runtime/legal/java.base/zlib.md
/BatchLog-1.0.0.exe
/BatchLog-dev-1.0.0.exe
